body {
    font-family: "Courier New", monospace;
    background-color: #AECB95;
    padding: 25px;
    font-size: 120%;
    font-weight: bold;
}
div#title{
  width: 50vw;
  border: solid 5px #333333;
  background-color: #F2E5A2;
  margin-bottom: 5vh;
  border: dashed 10px #2F4858;
}

div#pictures{
  float: right;
  width: 20vw;
  height: 20vh;
    margin-bottom: 5vh;
}

div#bio {
    padding: 30px;
    background-color: #F2E5A2;
    border: solid 5px #333333;
    width: 70vw;
      margin-bottom: 5vh;
      border: dashed 10px #2F4858;
}

div#labs {
    padding: 30px;
    background-color: #F2E5A2;
    border: solid 5px #333333;
    height: 35vh;
    width: 70vw;
      margin-bottom: 5vh;
      border: dashed 10px #2F4858;
}

h2{
  color:#BF372A;
}

 div#picture{
   border: solid 4px #333333;
   transition: transform .2s;
 }

a {
    text-decoration: none;
    color: #BF372A;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
img{
  border: solid 4px #333333;
  transition: transform .2s;
}
img:hover{

  transform: scale(1.5);
}
