
#title{
	font-size: 50px;
  animation: fadeIn 5s;
	text-align: center;
	color: Yellow;
}
#gameStart{
	font-style: italic;
	color: white;
  cursor: pointer;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
body{
	background-image: url("https://media.giphy.com/media/8PEbUBEwxktyNeqVZ4/giphy.gif");
	background-color: black;
  background-size: cover; 
}
