
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-weight:100;
  box-sizing: border-box;
}
body{
  background: #080808;
  color: #fff;
}
#header{
  width: 100%;
  height:100vh;
  background-image: url('../img/IMG_3436.jpg');
  background-size: cover;
  background-position: center;
}
.container{
  padding: 10px 2%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo{
  width: 15%;
  margin-bottom: 5%;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 55px 20px;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  position: relative;
  text-align: center;
}

/* This is to make the link not turn blue when hovered on */
nav ul li a:visited
{
   color: #fff;
   text-decoration: none;
}
/* background here is for the text color when hovered on the nav bar */
nav ul li a:hover
{
   color: #8E38FF;
   text-decoration: none;
   transition:0.5s;
}

/* background here is for the underline on the nav bar */
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #6300FF;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition:0.5s;
}
nav ul li a:hover::after{
  width: 100%
}
.header-text{
  margin-top: 10%;
  font-size: 30px;
}
.header-text h1{
  margin-top: 10%;
  font-size: 60px;
}
.header-text span{
  color: #6300FF;
}



/* About Section */
#about{
  padding:80px 0;
  color: #ababab;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
  display: flex;
  align-items: center;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -25%; /* Adjust this value as needed after changing the text in the about me section */
}
.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}

.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #6300FF;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after{
  width:50%;
}
.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}
.tab-contents span{
  color: #8E38FF;
  font-size: 14px;
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display:block;
}
/* Portfolio Section CSS */
#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr)); /* Two columns per row */
  grid-gap: 40px;
  margin-top: 50px;
}


.work-item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work-item img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #8E38FF);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 15px;
  transition: 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;
}

.layer p {
  color: #fff;
}

.layer a {
  margin-top: 20px;
  color: #8E38FF;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work-item:hover img {
  transform: scale(1.1);
}

.work-item:hover .layer {
  height: 100%;
}
.btn{
  display:  block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #8E38FF;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btn:hover{
  background: #8E38FF;
}
.port-years{
  margin-top: 5%;
  color: #fff;
}
/* Contact */
.contact-left{
  flex-basis: 35%
}
.contact-right{
  flex-basis: 60%
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: #8E38FF;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  color: #FFF;
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  display: inline-block;
  transition: 0.5s;
}
.social-icons a:hover{
  color: #8E38FF;
  transform: translateY(-5px);
}
.btn2{
  display: inline-block;
  border: 1px solid #8E38FF;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.contact-right form{
  width: 100%
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
/* CSS for Small Screen */
@media only screen and (max-width: 600px){
#header{
    background-image: url('../img/phone-bg.jpg');
}
.header-text{
  margin-top: 100%;
  font-size: 16px;
}
.header-text h1{
  font-size: 30px;
}
}
